.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#overlay {
    font-family: "Arial Black", Gadget, sans-serif;
    z-index:100;
    font-size:96px;
    font-weight:bold;
    color:white;
}

a.biga:link, a.biga:visited { 
    text-decoration: none;
}
