.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#image
{    
    position:absolute;
    left:0;
    top:0;
}

#overlay
{
    font-family: "Arial Black", Gadget, sans-serif;
    z-index:100;
    color:white;
    font-size:96px;
    font-weight:bold;
}

.biga a:link, a:visited { 
    text-decoration: none;
}
